@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #000;
  background: #fff;
}

.bg-nc-purple {
  background-color: #5433ff;
  opacity: 0.81;
}

.bg-nc-gradient {
  background: linear-gradient(
    104deg,
    #a5fecb 0.83%,
    #20bdff 49.99%,
    #5433ff 100%
  );
}

nav {
  background-color: #daf5e9;
}

.hero {
  background-image: linear-gradient(180deg, #daf5e9, #fff);
}

.card {
  padding: 20px;
  border-radius: 5px;
  background-color: #f7f7f7;
  margin-right: 2em;
}

.earth-gradient-bg {
  background-image: url(../public/earth-gradient-bg.png);
  width: 100%;
  margin-top: -1px;
  background-size: cover;
}

@media (max-width: 599px) {
  .earth-gradient-bg {
    background-size: contain;
  }
}

.smoke {
  background: #bdc3c7;
  background: linear-gradient(180deg, #fff, #2c3e50);
}
