@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #000;
  background: #fff;
}

.bg-nc-purple {
  background-color: #5433ff;
  opacity: 0.81;
}

.bg-nc-gradient {
  background: linear-gradient(
    104deg,
    #a5fecb 0.83%,
    #20bdff 49.99%,
    #5433ff 100%
  );
}

.card {
  width: 350px;
  padding: 20px;
  border: 1px solid rgb(84 51 255 / 15%);
  border-radius: 5px;
  background: linear-gradient(
    332deg,
    rgb(32 189 255 / 15%),
    rgb(165 254 203 / 15%)
  );
  margin-right: 2em;
}

.earth-gradient-bg {
  background-image: url(../public/earth-gradient-bg.png);
  background-size: contain;
  width: 100%;
  margin-top: -2px;
}
